@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
}




body{
    font-family: 'Roboto', sans-serif;
    
    
}

.trp{
    margin: 20px;
    padding: 40px;
}

.trp h1{
    margin: 10px;
    font-size: 75px;
    color: #272727;
    
}



.plane{
    display: flex;
    margin: 40px 80px;
    border: 0px solid #272727;
    background: linear-gradient(45deg, #7b00e0, #ae31d9);
    color: aliceblue;
    font-size: 25px;
    border-radius: 50px;
    padding-bottom: 35px;
    padding-right: 10px;
    /* box-shadow: -15px -15px  rgb(100, 88, 88) ; */

}

.bus{
    display: flex;
    margin: 40px 80px;
    border: 0px solid  #272727;
    background: linear-gradient(45deg, #7b00e0, #ae31d9);
    color: aliceblue;
    font-size: 25px;
    border-radius: 50px;
    padding-bottom: 35px;
    padding-right: 10px;
     /* box-shadow: -15px -15px  #272727; */
}

.train{
    display: flex;
    margin:40px 80px;
    border: 0px solid #272727 ;
    background: linear-gradient(45deg, #7b00e0, #ae31d9);
    color: aliceblue;
    font-size: 25px;
    border-radius: 50px;
    padding-bottom: 35px;
    padding-right: 10px;
     /* box-shadow: -15px -15px  rgb(100, 88, 88) ;*/
}

.nothing{
    margin: 100px;
}

.notvisible{
    color: white;
}